{% extends 'base.html' %}

{% block title %}Book {{book.booknum}} {% endblock title %}

{% load crispy_forms_tags %}
{% block body %}
<div class="container col-xxl-8 px-4 py-0">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-0 my-4">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/static/bookcovers/{{book.booknum}}.jpg" style="height: inherit; width: auto;"
                class="d-block mx-lg-auto img-fluid img-thumbnail" alt="Image not available" width="700" height="500"
                loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">{{book.title}}</h1>
            <p class="lead">Author: {{book.author}}</p>
            <p class="lead">Publisher: {{book.publisher}}</p>
            <p class="lead">Genre: {{book.genre}}</p>
            <p class="lead">ISBN: {{book.isbn}}</p>
            {% if curruser.is_authenticated %}
                {% if curruser.profile.isLibrarian %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" onclick="window.location.href = '/book/{{book.booknum}}/edit';">Edit Info</button>
                    </div>
                {% else %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        {% if book.avl == True %}
                            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" onclick="window.location.href = '#request';">Borrow</button>
                        {%else %}
                            <button type="button" class="btn btn-secondary btn-lg px-4 me-md-2" onclick="window.location.href = '#request';">Queue</button>
                        {% endif %}
                    </div>
                    {% if book.avl == False %}<br>
                    <div class="alert alert-warning" role="alert">
                        This book is currently unavailable! You can wait in the queue.
                    </div>{% endif %} 
                {% endif %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    You must be logged in to borrow this book.
                </div>                          
            {% endif %}
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-light py-2 px-2 my-2">
        <div class="container">
            <h3>Summary</h3>
            <p class="lead">{{book.summary}}</p>
        </div>
    </div>
    {% if curruser.is_authenticated %}
        {% if not curruser.profile.isLibrarian and not curruser.is_staff %}
            <a name='request'></a>
            <div class="jumbotron jumbotron-fluid bg-light py-2 px-2 my-4">
                <div class="container">
                    <h3>Request this book</h3>
                    <form action="/book/{{book.booknum}}" method="post">
                        {% csrf_token%}
                        {{form|crispy}}
                        <button type="submit" class = "btn btn-success my-2" name='addrequest'>Request</button>
                    </form>
                </div>
            </div>
            <a name='review'></a>
            <div class="jumbotron jumbotron-fluid bg-light py-2 px-2 my-4">
                <div class="container">
                    <h3>Add a review</h3>
                    <form action="/book/{{book.booknum}}" method="post">
                        {% csrf_token%}
                        {{reviewform|crispy}}
                        <button type="submit" class = "btn btn-success my-2" name='addreview'>Add Review</button>
                    </form>
                </div>
            </div>         
        {% endif %}
    {% endif %}
    {% if not requests == 'blank' %}
        <div class="jumbotron jumbotron-fluid bg-light py-2 px-2 my-4">
            <div class="container">
            <h3>All Requests</h3>
            {% for request in requests %}
                <div class="container my-4 bg-light py-2">
                    <ul>
                        <li><a href="/book/{{request.book.booknum}}">{{request.book.booknum}}: {{request.book.title}}</a></li>
                        <li>{{request.user.username}}</li>
                        <li>From {{request.fromdate}}</li>
                        <li>To {{request.todate}}</li>
                    </ul>
                    <form action="" method="post">
                        {% csrf_token%}
                        <input type="text" name="requestid" value='{{request.id}}' style='display:none'>
                        {% if request.seen == True %}
                            <p>This request has been {% if request.accepted == True %}accept{% else %}reject{% endif %}ed.</p>
                        {% else %}
                            <button class="btn btn-warning mr-2" name='accept{{request.id}}'>Accept</button>
                            <button class="btn btn-danger mr-2" name='reject{{request.id}}'>Reject</button>                  
                        {% endif %}
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}    
    <div class="jumbotron jumbotron-fluid bg-light py-2 px-2 my-4">
        <div class="container">
            <h3>Reviews</h3>
            {% for review in reviews %}
                <div class="container my-4 bg-light">
                    <ul>
                        <li>{{review.user.username}}  {% if review.rating ==  5 %}⭐⭐⭐⭐⭐{% elif review.rating == 4 %}⭐⭐⭐⭐{% elif review.rating == 3 %}⭐⭐⭐{% elif review.rating == 2 %}⭐⭐{% else %}⭐{% endif %} <span class="font-weight-light"> { {{review.ondate}} } </span>
                        <br>
                        {{review.review}}</li>
                    </ul>
                    {% if curruser.is_staff %}
                        <form action="/book/{{book.booknum}}" method="post">
                            {% csrf_token %}
                            <input type="number" name="reviewid" value={{review.id}} style = "display:none;">
                            <input type="number" name="bookid" value={{book.id}} style = "display:none;">
                            <input type="number" name="userid" value={{review.user.id}} style = "display:none;">
                            <button type="submit" class = "btn btn-outline-danger my-2" name='warnreview'>Report Review</button>
                        </form>                    
                    {% endif %}

                </div>
            {% endfor %}           
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-light py-4 px-4 my-4">
        <div class="container">
            <h3>Find Similar Books</h3><br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-around">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" onclick="window.location.href = '/author/{{book.author}}';">Books by {{book.author}} </button>
                <button type="button" class="btn btn-secondary btn-lg px-4 me-md-2" onclick="window.location.href = '/genre/{{book.genre}}';">Books of Category {{book.genre}} </button>
            </div>
        </div>
    </div>    
</div>
{% endblock body %}