{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <div class="d-block mx-auto mb-4">
            {% if curruser.is_staff %}
                {% if curruser.profile.isLibrarian %}
                    <i class="fas fa-user-cog fa-5x"></i>
                {% else %}
                    <i class="fas fa-user-shield fa-5x"></i>
                {% endif %}
            {% else %}
                {% if curruser.profile.isLibrarian %}
                    <i class="fas fa-user-tie fa-5x"></i>
                {% else %}
                    <i class="fas fa-user fa-5x"></i>
                {% endif %}
            {% endif %}        
        </div>
        <h1 class="display-5 fw-bold">{{curruser.username}}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                {% if curruser.is_staff %}
                   Administrator Account
                {% else %}
                    User Account
                {% endif %}
                {% if curruser.profile.isLibrarian %}
                   , Librarian
                {% endif %}            
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> 
                {% if curruser.is_staff %}
                    <button type="button" class="btn btn-outline-primary btn-lg px-4 me-sm-3" onclick="window.location.href = '/admin';">Admin Dashboard</button>
                {% endif %}
                {% if curruser.profile.isLibrarian %}
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4 me-sm-3" onclick="window.location.href = '/addbook';">Add New Book</button>
                {% else %}
                    <button type="button" class="btn btn-outline-primary btn-lg px-4 me-sm-3" onclick="window.location.href = '#requests';">My Requests</button>
                {% endif %}
                <button type="button" class="btn btn-outline-warning btn-lg px-4" onclick="window.location.href = '/logout';">Logout</button>
            </div>
        </div>
    </div>    
    {% if not reqset == None %}
        {% if curruser.profile.isLibrarian %}
            <div class="container py-2">
                <h3>All Requests</h3>
                {% for request in reqset %}
                    <div class="container my-4 bg-light py-2">
                        <ul>
                            {% comment %} <li>Requested on {{request.when}}</li> {% endcomment %}
                            <li><a href="/book/{{request.book.booknum}}">{{request.book.booknum}}: {{request.book.title}}</a></li>
                            <li>{{request.user.username}}</li>
                            <li>From {{request.fromdate}}</li>
                            <li>To {{request.todate}}</li>
                        </ul>
                        <form action="/profile" method="post">
                            {% csrf_token%}
                            <input type="text" name="requestid" value='{{request.id}}' style='display:none'>
                            {% if request.seen == True %}
                                <p>This request has been {% if request.accepted == True %}accept{% else %}reject{% endif %}ed.</p>
                            {% else %}
                                <button class="btn btn-warning mr-2" name='accept{{request.id}}'>Accept</button>
                                <button class="btn btn-danger mr-2" name='reject{{request.id}}'>Reject</button>                  
                            {% endif %}
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="container py-2">
                <h3>Upcoming due dates</h3>
                {% for accreq in acceptedreqs %}
                    {% if accreq.fromdate < today and accreq.todate > today %}
                        <div class="container my-4 bg-light py-2">
                            <ul>
                                <li><a href="/book/{{accreq.book.booknum}}">{{accreq.book.booknum}}: {{accreq.book.title}}</a></li>
                                <li>Author: {{accreq.book.author}}</li>
                                <li>Due on: {{accreq.todate}}</li>
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="container py-2">
                <h3>Warnings</h3>
                {% for warning in warningset %}
                    <div class="container my-4 bg-warning py-2">
                        Your review on <a href="/book/{{warning.book.booknum}}">{{warning.book.booknum}}: {{warning.book.title}}</a> was found offensive and was deleted.
                        <form action="/profile" method="post">
                            {% csrf_token %}
                            <input type="number" name="warningid" value={{warning.id}} style = "display:none;">
                            <button type="submit" class = "btn btn-link my-2" name='ackwarning'>Acknowledge and Delete</button>
                        </form>
                    </div>
                {% endfor %}
            </div> 
            <a name="#requests"></a>           
            <div class="container py-2">
                <h3>My Requests</h3>
                {% for request in reqset %}
                    <div class="container my-4 bg-light py-2">
                        <ul>
                            {% comment %} <li>Requested on {{request.when}}</li> {% endcomment %}
                            <li><a href="/book/{{request.book.booknum}}">{{request.book.booknum}}: {{request.book.title}}</a></li>
                            <li>From {{request.fromdate}}</li>
                            <li>To {{request.todate}}</li>
                        </ul>
                        {% if request.seen == True %}
                            <p>This request has been {% if request.accepted == True %}accept{% else %}reject{% endif %}ed.</p>
                        {% else %}
                            <p>This request has not been responded to.</p>                 
                        {% endif %}
                    </div>
                {% endfor %}
            </div>       
        {% endif %}    
    {% endif %}



{% endblock body %}